/* ****************************************************************************
   STYLE
   ----------------------------------------------------------------------------
   @name:         app/lib/message/flash.scss
   @author:       Imagine Easy Solutions
   @note:         SCSS file for the flash messaging component

 =========================================================================== */

$flash-message-prefix: '' !default;

.#{$flash-message-prefix}-flash-messages {
  width: 100%;
  position: fixed;
  z-index: 100000;
  top: 0px;
  transition: top 300ms, opacity 300ms;
  pointer-events: none;
  text-align: center;
  height: 0;

  &.#{$flash-message-prefix}-off-screen {
    opacity: 0;
    top: -20px;
  }
}
